body {
    width: 400px;
    height:600px;
    background-color: #f6f6ef;
    font-family: Verdana, Geneva, sans-serif;
}

h1{
    text-align: center;
}

li{
    padding-bottom: 8px;
    font-size: large;
}
button{
    margin-left: 5px;
}